<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In - MusicLang</title>
    <link href="https://fonts.cdnfonts.com/css/futura-lt" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/login.css">
</head>
<body>

<div class="split-screen">
    <div class="left-section">
        <img src="/static/images/Designer (1).png" alt="Music Visualization" class="bg-image">
    </div>
    <div class="right-section">
        <div class="login-container">
            <h2>Login to your Account</h2>
            <form method="post">
                {{ form.hidden_tag() }}
                <div class="form-group">
                    {{ form.email.label(class_="form-control-label") }}
                    {{ form.email(class_="form-control", placeholder="Email") }}
                    {% if form.email.errors %}
                        <div class="alert alert-danger" role="alert">
                            {{ form.email.errors[0] }}
                        </div>
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.password.label(class_="form-control-label") }}
                    {{ form.password(class_="form-control", placeholder="Password") }}
                    {% if form.password.errors %}
                        <div class="alert alert-danger" role="alert">
                            {{ form.password.errors[0] }}
                        </div>
                    {% endif %}
                </div>
                <button type="submit" class="btn btn-sign-in">Login</button>
                <div class="d-flex justify-content-center" style="color: black;">
                    <p>Don't have an account? <a href="/register" style="color: #FF5722;">Register</a></p>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
