<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register - MusicLang</title>
    <link href="https://fonts.cdnfonts.com/css/futura-lt" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/login.css">
    <link rel="icon" href="/static/images/favicon.png">

</head>
<style>
    /* You can include additional styles here */
    
    #password-strength-status {
            padding: 5px;
            color: #000000;
            display: none; /* Initially hidden */
        }
        .strength-weak {
            color: red;
        }
        .strength-medium {
            color: orange;
        }
        .strength-strong {
            color: green;
        }
        .underline {
            text-decoration: underline;
        }
</style>
<body>

<div class="split-screen">
    <div class="left-section">
        <img src="/static/images/Designer (2).png" alt="Music Visualization" class="bg-image">
    </div>
    <div class="right-section">
        <div class="login-container">

            {% with messages = get_flashed_messages() %}
            {% if messages %}
              {% for message in messages %}
                <div class="alert alert-success" role="alert">{{ message }}</div>
              {% endfor %}
            {% endif %}
          {% endwith %}
            <!-- Logo Image -->
            <!-- <img src="/static/images/mainlogo.png" alt="MusicLang Logo" class="logo-image" style="max-width: 100%; height: auto; display: block; margin: 0 auto 20px;"> -->
            <h2>Register for an Account</h2>
            <form id="registrationForm" method="post" action="/register" enctype="multipart/form-data">
                {{ form.hidden_tag() }}
                <div class="form-group">
                    {{ form.first_name(class_="form-control", placeholder="First Name") }}
                    {% for error in form.first_name.errors %}
                        <div class="alert alert-danger">{{ error }}</div>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ form.last_name(class_="form-control", placeholder="Last Name") }}
                    {% for error in form.last_name.errors %}
                        <div class="alert alert-danger">{{ error }}</div>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ form.email(class_="form-control", placeholder="Email") }}
                    {% for error in form.email.errors %}
                        <div class="alert alert-danger">{{ error }}</div>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ form.password(class_="form-control", id="password", placeholder="Password", onkeyup="checkPasswordStrength();") }}
                    <div id="password-strength-status"></div>
                    {% for error in form.password.errors %}
                        <div class="alert alert-danger">{{ error }}</div>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ form.confirm_password(class_="form-control", id="confirmPassword", placeholder="Confirm Password") }}
                    <div id="confirm-password-error" style="display: none; color: red;">Passwords do not match.</div>
                    {% for error in form.confirm_password.errors %}
                        <div class="alert alert-danger">{{ error }}</div>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ form.dob(class_="form-control", placeholder="Date of Birth") }}
                    {% for error in form.dob.errors %}
                        <div class="alert alert-danger">{{ error }}</div>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ form.profile_image(class_="form-control-file") }}
                    {% for error in form.profile_image.errors %}
                        <div class="alert alert-danger">{{ error }}</div>
                    {% endfor %}
                </div>
                <button type="submit" class="btn btn-sign-in">Register</button>
                <div class="d-flex justify-content-center" style="color: black;">
                    <p>Already have an account? <a href="/signin" style="color: #FF5722;">Sign In</a></p>
                </div>
            </form>            
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
function checkPasswordStrength() {
    let number = /([0-9])/;
    let alphabets = /([a-zA-Z])/;
    let special_characters = /([~,!,@,#,$,%,^,&,*,-,_,+,=,?,>,<])/;

    let strength = $("#password").val();
    let strengthStatus = $('#password-strength-status');
    if (strength.length < 8) {
        strengthStatus.removeClass();
        strengthStatus.addClass('strength-weak');
        strengthStatus.html('Weak - try making your password longer.');
    } else {
        if (strength.match(number) && strength.match(alphabets) && strength.match(special_characters)) {
            strengthStatus.removeClass();
            strengthStatus.addClass('strength-strong underline');
            strengthStatus.html('Strong - great job!');
        } else if (strength.match(number) && strength.match(alphabets)) {
            strengthStatus.removeClass();
            strengthStatus.addClass('strength-medium underline');
            strengthStatus.html('Medium - add numbers or special characters to strengthen.');
        } else {
            strengthStatus.removeClass();
            strengthStatus.addClass('strength-weak');
            strengthStatus.html('Weak - try adding a variety of characters.');
        }
    }

    strengthStatus.show();
}


$(document).ready(function() {
    $('#registrationForm').on('submit', function(e) {
        var password = $('#password').val();
        var confirmPassword = $('#confirmPassword').val();
        var confirmPasswordError = $('#confirm-password-error');

        // Check if passwords match
        if (password !== confirmPassword) {
            confirmPasswordError.show();
            e.preventDefault(); // Prevent form submission
        } else {
            confirmPasswordError.hide();
        }
    });

    // Additionally, you might want to hide the error message when the user starts to correct the input.
    $('#confirmPassword').on('keyup', function() {
        $('#confirm-password-error').hide();
    });
});

</script>
</body>
</html>

