<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotify Insights - MusicLang</title>    <link href="https://fonts.cdnfonts.com/css/futura-lt" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="icon" href="/static/images/favicon.png">
</head>
<body>


    <header>
        <div class="logo">
            <a href="/">
                <img src="/static/images/logo2.png" alt="MusicLang Logo">
            </a>
        </div>
        
        <div class="hamburger-menu">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>
        
        <nav>
            <img src="{{ user.profile_image_url if user.profile_image_url else '/static/images/istockphoto-1495088043-612x612.jpg' }}" alt="Profile Image" class="profile-img">
            <!-- Dropdown Menu Trigger -->
            <div class="dropdown">
                <span class="dropdown-toggle">{{ user.first_name }} {{ user.last_name }}</span>
                <!-- Dropdown Menu Content -->
                <div class="dropdown-content">
                    <a href="/settings">Settings</a>
                    <a href="/spotify_insights">Account Insights</a>
                    <a href="/logout">Logout</a>
                </div>
            </div>
        </nav>
        
    </header>
<!-- Connection Status Messages -->
<section class="container text-center py-5">
    {% if not spotify_connected %}
        <div class="alert alert-warning" role="alert">
            <h4 class="alert-heading">Music Service Connection Required!</h4>
            <p>You need to connect your music services to fully utilize MusicLang.</p>
            <hr>
            <a href="/connect_spotify" class="btn btn-primary">Connect Spotify</a>
        </div>
    {% endif %}
</section>


<!-- Spotify Insights Section -->
<section class="container text-center py-5">
    <h3 class="mb-4 standout-heading">Your Spotify Insights</h3>
    <div class="row">
        <!-- Followers -->
        <div class="col-md-4 mb-3">
            <div class="feature-box">
                <i class="fas fa-users fa-3x"></i>
                <h4>Followers</h4>
                <p>{{ spotify_data.followers }}</p>
            </div>
        </div>
        
        <!-- Playlists -->
        <div class="col-md-4 mb-3">
            <div class="feature-box">
                <i class="fas fa-list-music fa-3x"></i>
                <h4>Playlists</h4>
                <p>{{ spotify_data.playlists }}</p>
            </div>
        </div>
        
        <!-- Top Artists -->
        <div class="col-md-4 mb-3">
            <div class="feature-box">
                <i class="fas fa-star fa-3x"></i>
                <h4>Top Artists</h4>
                <ul>
                    {% for artist in spotify_data.top_artists %}
                        <li>{{ artist }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        
        <!-- Top Genres -->
        <div class="col-md-4 mb-3">
            <div class="feature-box">
                <i class="fas fa-music fa-3x"></i>
                <h4>Top Genres</h4>
                <ul>
                    {% for genre in spotify_data.top_genres %}
                        <li>{{ genre }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        
        <!-- Recently Played Tracks -->
        <div class="col-md-4 mb-3">
            <div class="feature-box">
                <i class="fas fa-history fa-3x"></i>
                <h4>Recently Played</h4>
                <ul>
                    {% for track in spotify_data.recent_tracks %}
                        <li>{{ track }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</section>



</body>
</html>